<section class="page__contacts contacts" id="contacts" data-section="contacts" data-section-type="short"
    data-aos="zoom-in">
    <div class="contacts__container">
        <div class="contacts__header header-main">
            <div class="header-main__label">
                Контакти
            </div>
            <h2 class="header-main__title">
                Наші представництва
            </h2>
        </div>
        <div class="accordion" id="accordionFlushExample">
            <div class="accordion-item mt-4 rounded-5">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-1"
                        aria-expanded="false" aria-controls="flush-1">
                        м. Київ - Центральний офіс
                    </button>
                </h2>
                <div id="flush-1" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="container text-left">
                            <div class="row">
                                <div class="col">
                                    <iframe class="accordion-map"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.0338582263025!2d30.369774299999996!3d50.4963276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd2e0e6a62bb%3A0x41fa687dd9141781!2z0LLRg9C70LjRhtGPINCh0YLQtdGG0LXQvdC60LAsIDc10LEsINCa0LjRl9CyLCAwNDEyOA!5e0!3m2!1suk!2sua!4v1728466941145!5m2!1suk!2sua"
                                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                        title="Центральний офіс м. Київ"></iframe>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-auto col-3">
                                            <span class="badge rounded-5 text-bg-secondary p-3">
                                                <i class="bi bi-geo-alt-fill"
                                                    style="font-size: 1.25rem; color: #FF6D35;"></i>
                                            </span>
                                        </div>
                                        <div class="col-9">
                                            <a href="https://maps.app.goo.gl/koDhDuhGojGKEnPT9"
                                                class="accordion-link lh-base" target="_blank">
                                                м. Київ, вулиця Стеценко, 75-Б, офіс 59
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-4 rounded-5">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-2" aria-expanded="false" aria-controls="flush-2">
                        Львівська область - Відділ митного оформлення № 4 митного поста "Львів - північний"
                    </button>
                </h2>
                <div id="flush-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="container text-left">
                            <div class="row">
                                <div class="col">
                                    <iframe class="accordion-map"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.490576494685!2d24.0395345!3d49.83323910000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add42b85c89a7%3A0xfe2aefbe3976cf18!2z0LLRg9C70LjRhtGPINCU0L7RgNC-0YjQsCwgMjDQsCwg0JzQsNC70LXRhdGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgODAzODM!5e0!3m2!1suk!2sua!4v1728467822570!5m2!1suk!2sua"
                                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                        title="Відділ митного оформлення № 4 митного поста Львів - північний"></iframe>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-auto col-3">
                                            <span class="badge rounded-5 text-bg-secondary p-3">
                                                <i class="bi bi-geo-alt-fill"
                                                    style="font-size: 1.25rem; color: #FF6D35;"></i>
                                            </span>
                                        </div>
                                        <div class="col-9">
                                            <a href="https://maps.app.goo.gl/zKgmhHo6mButDUDm7"
                                                class="accordion-link lh-base" target="_blank">
                                                80383, с. Малехів, вулиця Т. Дороша, 20-А
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-4 rounded-5">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-3" aria-expanded="false" aria-controls="flush-3">
                        Львівська область - Відділ митного оформлення № 1 митного поста "Городок"
                    </button>
                </h2>
                <div id="flush-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="container text-left">
                            <div class="row">
                                <div class="col">
                                    <iframe class="accordion-map"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.901544179625!2d23.701223699999996!3d49.7879164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b1dc83117a1d1%3A0x3264da99d871e603!2z0LLRg9C70LjRhtGPINCb0YzQstGW0LLRgdGM0LrQsCwgNjU50LAsINCT0L7RgNC-0LTQvtC6LCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDgxNTAx!5e0!3m2!1suk!2sua!4v1728467912615!5m2!1suk!2sua"
                                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                        title="Відділ митного оформлення № 1 митного поста Городок"></iframe>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-auto col-3">
                                            <span class="badge rounded-5 text-bg-secondary p-3">
                                                <i class="bi bi-geo-alt-fill"
                                                    style="font-size: 1.25rem; color: #FF6D35;"></i>
                                            </span>
                                        </div>
                                        <div class="col-9">
                                            <a href="https://maps.app.goo.gl/PiZoLJchdUTdNhg4A"
                                                class="accordion-link lh-base" target="_blank">
                                                81500, м. Городок, вулиця Львівська, 659-А
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-4 rounded-5">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-4" aria-expanded="false" aria-controls="flush-4">
                        Волинська область - Відділ митного оформлення № 1 митного поста "Луцьк"
                    </button>
                </h2>
                <div id="flush-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="container text-left">
                            <div class="row">
                                <div class="col">
                                    <iframe class="accordion-map"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2524.6315056015264!2d25.401429299999993!3d50.7453231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4725909ce092fb73%3A0xb6a08aaeaea3a449!2z0LLRg9C70LjRhtGPINCg0ZbQstC90LXQvdGB0YzQutCwLCA0LCDQodGC0YDRg9C80ZbQstC60LAsINCS0L7Qu9C40L3RgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1728467968605!5m2!1suk!2sua"
                                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                        title="Відділ митного оформлення № 1 митного поста Луцьк"></iframe>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-auto col-3">
                                            <span class="badge rounded-5 text-bg-secondary p-3">
                                                <i class="bi bi-geo-alt-fill"
                                                    style="font-size: 1.25rem; color: #FF6D35;"></i>
                                            </span>
                                        </div>
                                        <div class="col-9">
                                            <a href="https://maps.app.goo.gl/aqDbW7MAqFXrGejWA"
                                                class="accordion-link lh-base" target="_blank">
                                                45603, с. Струмівка, вулиця Рівненська, 4
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-4 rounded-5">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-5" aria-expanded="false" aria-controls="flush-5">
                        Закарпатська область - Відділи митного оформлення № 1, № 4 митного поста "Ужгород - вантажний"
                    </button>
                </h2>
                <div id="flush-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="container text-left">
                            <div class="row">
                                <div class="col">
                                    <iframe class="accordion-map"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.7928335703746!2d22.3260442!3d48.5946654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4739197c54779749%3A0xd14b4f88c644d43d!2z0LLRg9C70LjRhtGPINCh0YXRltC00L3QsCwgMywg0KPQttCz0L7RgNC-0LQsINCX0LDQutCw0YDQv9Cw0YLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgODgwMDA!5e0!3m2!1suk!2sua!4v1728468006076!5m2!1suk!2sua"
                                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                        title="Відділи митного оформлення № 1, № 4 митного поста " Ужгород -
                                        вантажний""></iframe>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-auto col-3">
                                            <span class="badge rounded-5 text-bg-secondary p-3">
                                                <i class="bi bi-geo-alt-fill"
                                                    style="font-size: 1.25rem; color: #FF6D35;"></i>
                                            </span>
                                        </div>
                                        <div class="col-9">
                                            <a href="https://maps.app.goo.gl/uCGA66WYLAiji6F3A"
                                                class="accordion-link lh-base" target="_blank">
                                                88001. с. Великі Лази, вулиця Східна, 3
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>