<section class="page__how how" id="how" data-section="how" data-section-type="long">
    <div class="how__container">
        <div class="how__items">
            <div class="how__item" data-aos="zoom-in">
                <div class="how__item_image">
                    <img src="/img/services/04.png" alt="Ввезено товарів">
                </div>
                <p class="how__value">1346115</p>
                <h3 class="how__text text">
                    Ввезено товарів
                </h3>
            </div>
            <div class="how__item" data-aos="zoom-in">
                <div class="how__item_image">
                    <img src="/img/services/02.png" alt="Оформлено ВМД">
                </div>
                <p class="how__value">24365</p>
                <h3 class="how__text text">
                    Оформлено ВМД
                </h3>
            </div>
            <div class="how__item" data-aos="zoom-in">
                <div class="how__item_image">
                    <img src="/img/services/05.png" alt="Клієнти компанії">
                </div>
                <p class="how__value">182</p>
                <h3 class="how__text text">
                    Клієнти компанії
                </h3>
            </div>
            <div class="how__item" data-aos="zoom-in">
                <div class="how__item_image">
                    <img src="/img/services/07.png" alt="Хвилин на оформлення">
                </div>
                <p class="how__value">15</p>
                <h3 class="how__text text">
                    Хвилин на оформлення
                </h3>
            </div>
        </div>
        <div class="how__image">
            <img src="/img/how/01-4.jpg" alt="how" eleventy:ignore>
        </div>
    </div>
</section>