<section class="page__main main" id="main" data-section="main" data-section-type="long">
    <div class="main__container">
        <div class="main__content" data-aos="zoom-in" data-aos-delay="300" data-aos-offset="0">
            <div class="main__header header-main">
                <h1 class="header-main__title">Група компаній “Капітал”</h1>
                <div class="header-main__text">
                    <p>
                        Більше 10 років ми створюємо нові ідеї для бізнесу та втілюємо їх у
                        життя для успіху наших клієнтів. Ми стежимо за трендами, використовуємо
                        креативне мислення у вирішенні комплексних завдань та застосовуємо наші найкращі
                        практики та багаторічний досвід, щоб готувати ефективні рішення для наших
                        Клієнтів, галузі та партнерів.
                    </p>
                </div>
                <div class="header-main__actions">
                    <a href="#" class="header-main__button button" data-scroll="services" aria-label="Наші послуги">Наші
                        послуги</a>

                    <button type="button" class="header-main__button button button_dark" data-bs-toggle="modal"
                        data-bs-target="#modal_contact_me">Передзвоніть мені</button>
                </div>
            </div>

        </div>
        <div class="main__images images-main">
            <div class="images-main__column">
                <div class="images-main__item images-main__item_1" data-aos="zoom-in" data-aos-delay="400"
                    data-aos-offset="0">
                    <img src="/img/main/04-1.jpg" alt="SEO" eleventy:ignore>
                </div>
                <div class="images-main__item images-main__item_2" data-aos="zoom-in" data-aos-delay="500"
                    data-aos-offset="0" data-aos-anchor=".images-main__item_1">
                    <img src="/img/main/02-1.jpg" alt="Image" eleventy:ignore>
                </div>
            </div>
            <div class="images-main__column">
                <div class="images-main__item images-main__item_3" data-aos="zoom-in" data-aos-delay="600"
                    data-aos-offset="0">
                    <img src="/img/main/03-1.jpg" alt="Image" eleventy:ignore>
                </div>
                <div class="images-main__item images-main__item_4" data-aos="zoom-in" data-aos-delay="700"
                    data-aos-offset="0">
                    <img src="/img/main/04-2.jpg" alt="Image" eleventy:ignore>
                </div>
            </div>
        </div>
    </div>
</section>