<section class="page__reach reach" id="reach" data-section="reach" data-section-type="short">
    <div class="reach__container">
        <div class="reach__header header-main">
            <div class="header-main__label">
                Переваги
            </div>
            <h2 class="header-main__title">Сертифікація AEO</h2>
            <div class="header-main__actions">
                <a href="/docs/aeo.pdf" class="header-main__button" aria-label="Завантажити документ AEO"
                    target="_blank">
                    <img src="/img/reach/AEO.jpg" alt="AEO">
                </a>
            </div>
        </div>
        <div class="reach__body">
            <div class="reach__text">
                <p>
                    Компанія CPTL вкотре підтвердила відповідність своїх процесів високим стандартам та отримала довіру
                    з
                    боку митних органів. Раді Вам повідомити, що наше підприємство отримало статус Авторизованого
                    Економічного Оператора
                    (АЕО-С).
                </p>
                <p>
                    Авторизований Економічний Оператор (АЕО) - це статус, який свідчить про високий рівень довіри до
                    підприємства з боку
                    митних органів та надає переваги при здійсненні митних формальностей, а саме - прискорені процеси
                    доставки та митного
                    оформлення вантажів клієнтів, зменшення ступеня ризику доглядів та перевірок вантажів клієнтів, -
                    все це
                    дозволяє
                    економити час, гроші та ресурси компаній.
                    Участь АЕО у ланцюгу постачання товарів наших клієнтів підвищує їх безпеку, системність та
                    конкурентоспроможність як на
                    внутрішньому, так і на зовнішньому ринках.
                </p>
                <p>
                    Наша команда активно була залучена в популяризацію інституту АЕО в Україні, адже наші експерти вже
                    допомогли
                    підготуватися деяким Клієнтам до отримання авторизацій.
                    Щодня ми застосовуємо свою унікальну експертизу, успішну практику в оформлені вантажів для своїх
                    клієнтів, а також
                    ділимось своїм багаторічним досвідом в проведенні навчань для бізнесу та колег.
                </p>
                <p>
                    Ми продовжуємо працювати над наданням сервісу найвищої якості для своїх клієнтів, підтверджуючи свою
                    репутацію на ринку
                    як прозора та системна компанія, вирішуючи всі завдання та виклики з якими зіштовхуються наші
                    клієнти
                    при виконанні
                    міжнародних ланцюгів постачання.
                </p>
            </div>
            <div class="reach__icons">
                <a href="/docs/iso_9001.jpg" class="reach__icon" aria-label="Завантажити документ ISO-9001"
                    target="_blank">
                    <img src="/img/reach/ISO-9001.png" alt="ISO-9001">
                </a>
                <a href="/docs/іso_27001.jpg" class="reach__icon" aria-label="Завантажити документ ISO-27001"
                    target="_blank">
                    <img src="/img/reach/ISO-27001.png" alt="ISO-27001">
                </a>
            </div>
        </div>
    </div>
</section>