<section class="page__services services" id="services" data-section="services" data-section-type="long">
    <div class="services__container">
        <div class="services__header header-main">
            <div class="header-main__label">
                Послуги
            </div>
            <h2 class="header-main__title">Послуги, які ми пропонуємо</h2>
            <div class="header-main__text">
                <p>
                    Залиште заявку зараз і відчуйте на собі наші переваги
                </p>
            </div>
            <div class="header-main__actions">
                <a href="/docs/profile.pdf" class="header-main__button button" aria-label="Завантажити профайл"
                    target="_blank">Завантажити профайл</a>
            </div>
        </div>
        <div class="services__items">
            <div class="services__item item-service" data-bs-toggle="modal" data-bs-target="#modal_contact_me"
                data-aos="zoom-in" data-aos-anchor=".services__content">
                <div class="item-service__inner">
                    <div class="item-service__icon">
                        <img src="/img/services/01-2.png" alt="Митне оформлення">
                    </div>
                    <h3 class="item-service__title">
                        Митне оформлення
                    </h3>
                    <div class="item-service__text text">
                        <ul class="item-service__list">
                            <li class="item-service__list_item">Декларування митному органу товарів і транспортних
                                засобів</li>
                            <li class="item-service__list_item">Підготовка документів до митного оформлення</li>
                        </ul>
                    </div>
                </div>
                <div class="item-service__price">
                    <img src="img/services/arrow-right.svg" alt="arrow right" class="item-service__price_arrow">
                    <div class="item-service__price_text text">Замовити
                    </div>
                </div>
            </div>
            <div class="services__item item-service" data-bs-toggle="modal" data-bs-target="#modal_contact_me"
                data-aos="zoom-in" data-aos-anchor=".services__content">
                <div class="item-service__inner">
                    <div class="item-service__icon">
                        <img src="/img/services/02.png" alt="Митний консалтінг">
                    </div>
                    <h3 class="item-service__title">
                        Митний консалтінг
                    </h3>
                    <div class="item-service__text text">
                        <ul class="item-service__list">
                            <li class="item-service__list_item">Консультації з усіх питань міжнародної торгівлі та
                                митного
                                оформлення</li>
                            <li class="item-service__list_item">Реальна практична допомога в суперечках з митними
                                органами</li>
                        </ul>
                    </div>
                </div>
                <div class="item-service__price">
                    <img src="img/services/arrow-right.svg" alt="arrow right" class="item-service__price_arrow">
                    <div class="item-service__price_text text">Замовити</div>
                </div>
            </div>
            <div class="services__item item-service" data-bs-toggle="modal" data-bs-target="#modal_contact_me"
                data-aos="zoom-in" data-aos-anchor=".services__content">
                <div class="item-service__inner">
                    <div class="item-service__icon">
                        <img src="/img/services/03.png" alt="Унікальні послуги">
                    </div>
                    <h3 class="item-service__title">
                        Унікальні послуги
                    </h3>
                    <div class="item-service__text text">
                        <ul class="item-service__list">
                            <li class="item-service__list_item">Підготовка до отримання авторизацій AEO та спрощень</li>
                            <li class="item-service__list_item">Віддалений відділ ЗЕД</li>
                            <li class="item-service__list_item">Налагодження алгоритмів ведення ЗЕД на підприємстві</li>
                        </ul>
                    </div>
                </div>
                <div class="item-service__price">
                    <img src="img/services/arrow-right.svg" alt="arrow right" class="item-service__price_arrow">
                    <div class="item-service__price_text text">Замовити</div>
                </div>
            </div>
            <div class="services__item item-service" data-bs-toggle="modal" data-bs-target="#modal_contact_me"
                data-aos="zoom-in" data-aos-anchor=".services__content">
                <div class="item-service__inner">
                    <div class="item-service__icon">
                        <img src="/img/services/04-1.png" alt="Транспортні послуги">
                    </div>
                    <h3 class="item-service__title">
                        Транспортні послуги
                    </h3>
                    <div class="item-service__text text">
                        Організація доставки товару будь-яким видом транспорту з будь-якої точки світу «від дверей до
                        дверей»
                    </div>
                </div>
                <div class="item-service__price">
                    <img src="img/services/arrow-right.svg" alt="arrow right" class="item-service__price_arrow">
                    <div class="item-service__price_text text">Замовити
                    </div>
                </div>
            </div>
            <div class="services__item item-service" data-bs-toggle="modal" data-bs-target="#modal_contact_me"
                data-aos="zoom-in" data-aos-anchor=".services__content">
                <div class="item-service__inner">
                    <div class="item-service__icon">
                        <img src="/img/services/05-1.png" alt="Супутні послуги">
                    </div>
                    <h3 class="item-service__title">
                        Супутні послуги
                    </h3>
                    <div class="item-service__text text">
                        <ul class="item-service__list">
                            <li class="item-service__list_item">Дозвільні документи</li>
                            <li class="item-service__list_item">Акредитація на митниці</li>
                            <li class="item-service__list_item">Логістика (митний склад)</li>
                        </ul>
                    </div>
                </div>
                <div class="item-service__price">
                    <img src="img/services/arrow-right.svg" alt="arrow right" class="item-service__price_arrow">
                    <div class="item-service__price_text text">Замовити
                    </div>
                </div>
            </div>
            <div class="services__item item-service" data-bs-toggle="modal" data-bs-target="#modal_contact_me"
                data-aos="zoom-in" data-aos-anchor=".services__content">
                <div class="item-service__inner">
                    <div class="item-service__icon">
                        <img src="/img/services/06-1.png" alt="Тренінги та навчання">
                    </div>
                    <h3 class="item-service__title">
                        Тренінги та навчання
                    </h3>
                    <div class="item-service__text text">
                        <ul class="item-service__list">
                            <li class="item-service__list_item">Проведення корпоративного навчання по міжнародній
                                торгівлі</li>
                            <li class="item-service__list_item">Проведення тренингів та підвищення кваліфікації
                                персоналу</li>
                        </ul>
                    </div>
                </div>
                <div class="item-service__price">
                    <img src="img/services/arrow-right.svg" alt="arrow right" class="item-service__price_arrow">
                    <div class="item-service__price_text text">Замовити</div>
                </div>
            </div>
        </div>
    </div>
</section>