<section class="page__testimonials testimonials" id="testimonials" data-section="testimonials" data-section-type="long">
    <div class="testimonials__container">
        <div class="testimonials__header header-main">
            <div class="header-main__label">
                Відгуки
            </div>
            <h2 class="header-main__title">
                Подивіться, що говорять наші клієнти
            </h2>
            <div class="header-main__body">
                <div class="header-main__text">
                    <p>
                        Кожного дня наша команда прагне бути кращою, ваша думка важлива для нас!
                        Будемо вдячні за ваш відгук
                    </p>
                </div>
                <div class="header-main__actions">
                    <a href="/" class="header-main__button button" aria-label="Залишити відгук" target="_blank">Залишити
                        відгук</a>
                </div>
            </div>
        </div>
        <div class="testimonials__items swiper-container" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <div class="swiper-wrapper">
                <div class="testimonials__item item-testimonial swiper-slide" data-aos="zoom-in"
                    data-aos-anchor=".testimonials__header">
                    <div class="item-testimonial__user user-testimonial">
                        <div class="user-testimonial__avatar">
                            <img src="img/testimonials/3m-1.png" alt="avatar" eleventy:ignore>
                        </div>
                        <div class="user-testimonial__body">
                            <div class="user-testimonial__title">
                                ООО «3М Україна»
                            </div>
                        </div>
                    </div>
                    <div class="item-testimonial__text">
                        <p>
                            Відмінною рисою роботи є високий професіоналізм, організованість, проактивное мислення і
                            надання
                            альтернативних рішень в складних ситуаціях. Сервіс, що надається Capital Group дозволяє
                            нашій
                            компанії забезпечувати безперебійну поставку продукції по всіх наших бізнес-напрямках, таким
                            як,
                            товари для охорони здоров’я, споживчі та промислові товари, засоби індивідуального захисту,
                            товари
                            для авторемонту та інші
                        </p>
                    </div>
                </div>
                <div class="testimonials__item item-testimonial swiper-slide" data-aos="zoom-in"
                    data-aos-anchor=".testimonials__header">
                    <div class="item-testimonial__user user-testimonial">
                        <div class="user-testimonial__avatar">
                            <img src="img/testimonials/mc.jpg" alt="avatar" eleventy:ignore>
                        </div>
                        <div class="user-testimonial__body">
                            <div class="user-testimonial__title">
                                ТОВ «МЦ Баухеми»
                            </div>
                        </div>
                    </div>
                    <div class="item-testimonial__text">
                        <p>
                            Ми змогли ефективно і з мінімальними витратами впоратися з такими складними в українських
                            митних
                            реаліях завданнями, як вірна класифікація товарів і митна вартість товарів, всупереч бажанню
                            митниці
                            використовувати ці механізми для значного підвищення податкового навантаження на нас як
                            імпортера.
                        </p>
                    </div>
                </div>
                <div class="testimonials__item item-testimonial swiper-slide" data-aos="zoom-in"
                    data-aos-anchor=".testimonials__header">
                    <div class="item-testimonial__user user-testimonial">
                        <div class="user-testimonial__avatar">
                            <img src="img/testimonials/maresto.png" alt="avatar" eleventy:ignore>
                        </div>
                        <div class="user-testimonial__body">
                            <div class="user-testimonial__title">
                                ТОВ «Маресто Україна»
                            </div>
                        </div>
                    </div>
                    <div class="item-testimonial__text">
                        <p>
                            Завдяки злагодженій і копіткій роботі Capital Group, ми впевнені в термінах одержання
                            вантажів
                            компанії.
                            Ми змогли неодноразово переконатися в благонадійності, професійності та оперативності у
                            вирішенні
                            робочих питань. Також хочемо підкреслити неординарний творчий підхід Компанії в роботі над
                            різними
                            проектами і завданнями.
                            Окремо хочеться відзначити індивідуальний підхід до потреб нашої компанії і високу культуру
                            спілкування всього колективу компанії
                        </p>
                    </div>
                </div>
                <div class="testimonials__item item-testimonial swiper-slide" data-aos="zoom-in"
                    data-aos-anchor=".testimonials__header">
                    <div class="item-testimonial__user user-testimonial">
                        <div class="user-testimonial__avatar">
                            <img src="img/testimonials/utc.png" alt="avatar" eleventy:ignore>
                        </div>
                        <div class="user-testimonial__body">
                            <div class="user-testimonial__title">
                                ПрАТ «Українська технологічна компанія»
                            </div>
                        </div>
                    </div>
                    <div class="item-testimonial__text">
                        <p>
                            Персонал Компанії проявив себе як професіонали високого рівня, здатні швидко і ефективно
                            вирішувати
                            складні митні
                            завдання. Всі етапи митного оформлення виконуються швидко, злагоджено, дотримуючись
                            заздалегідь
                            розробленого алгоритму.
                        </p>
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>