<section class="page__why why" id="why" data-section="why" data-section-type="long">
    <div class="why__container">
        <div class="why__images images-why">
            <div class="images-why__item images-why__item_1">
                <img src="/img/why/01-1.jpg" alt="image" eleventy:ignore>
            </div>
            <div class="images-why__item images-why__item_2">
                <img src="/img/why/02-1.jpg" alt="image" eleventy:ignore>
            </div>
        </div>
        <div class="why__content">
            <div class="why__header header-main">
                <div class="header-main__label">
                    чому саме ми
                </div>
                <h2 class="header-main__title">
                    КЛІЄНТИ ПОКЛАДАЮТЬСЯ НА НАС ЧЕРЕЗ НАШ ДОСВІД
                </h2>
                <ul class="header-main__list">
                    <li>Перший митний брокер в Україні зі статусом АЕО-С</li>
                    <li>Перші, хто вивіз товар за межі України з помилкового постачання</li>
                    <li>Перші, хто провів митний аудит процесів та впровадили покращення бізнес процесів та ЗЕД операцій
                    </li>
                    <li>Єдина компанія, яка доводить до кінця всі суперечки та відстоювання інтересів своїх Клієнтів
                    </li>
                    <li>Унікальна логістична компанія, яка удостоєна честі реформуватись за допомогою гранту ЄБРР</li>
                </ul>
            </div>
        </div>
    </div>
</section>