---js
const layout = "layouts/base.njk";
const title = "Політика конфеденційності";
const description = "";
const keywords = "";
const cssFiles = ["/css/style.css"];
const jsFiles = ["/js/common.js"];
---

{% include "privacy.njk" %}