<section class="page__privacy privacy" id="privacy" data-section="privacy" data-section-type="long">
  <div class="privacy__container">
    <div class="privacy__content" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
      <div class="privacy__header header-main">
        <h2 class="header-main__title">Політика конфіденційності</h2>
        <div class="header-main__text">
          <p>
            Ми визнаємо важливість конфіденційності інформації. У цьому
            документі описується, яку особисту інформацію ми отримуємо та
            збираємо, коли Ви користуєтесь сайтом. Ми сподіваємося, що ці
            відомості допоможуть Вам приймати усвідомлені рішення щодо особистої
            інформації, що надається нам.
          </p>
        </div>
        <div class="header-main__label">
          Цілі збору та обробки персональної інформації користувачів
        </div>
        <div class="header-main__text">
          <p>На сторінці є можливість надіслати заявку.</p>
          <p>
            Ваша добровільна згода надіслати свої дані, а також отримувати
            інформацію та корисні матеріали від нас підтверджується шляхом
            введення Вашого Ім'я, Номера телефону та E-mail у форму зворотнього
            зв'язку.
          </p>
          <p>
            Ім'я використовується для особистого звернення до Вас, Номер
            телефону для комунікації, а E-mail — для відправлення листів, що
            містять новини, посилання на мультимедіа матеріали, рекламні
            пропозиції, а також пропозиції взяти участь у маркетингових
            дослідженнях, корисні матеріали за тематикою.
          </p>
        </div>
        <div class="header-main__label">
          Умови обробки та її передачі третім особам
        </div>
        <div class="header-main__text">
          <p>
            Ваші Ім'я, Номер телефону та E-mail використовуються строго
            відповідно до політики конфіденційності сервісу та зберігаються на
            його захищених серверах. Ваші Ім'я, Номер телефону та E-mail ніколи,
            ні за яких умов не будуть передані третім особам, за винятком
            випадків, пов'язаних з виконанням законодавства.
          </p>
        </div>
        <div class="header-main__label">Протоколювання</div>
        <div class="header-main__text">
          <p>
            При кожному відвідуванні сайту наші сервери автоматично записують
            інформацію, яку Ваш браузер передає під час відвідування
            веб-сторінок. Як правило, ця інформація включає запитувану
            веб-сторінку, IP-адресу комп'ютера, тип браузера, мовні налаштування
            браузера, дату та час запиту, а також один або кілька файлів cookie,
            які дозволяють точно ідентифікувати ваш браузер.
          </p>
        </div>
        <div class="header-main__label">Кукі (Cookie)</div>
        <div class="header-main__text">
          <p>
            На сайті використовуються куки (Cookies), відбувається збір даних
            про відвідувачів за допомогою сервісів Google Analytics. Ці дані
            служать для збирання інформації про дії відвідувачів на сайті, для
            покращення якості його змісту та можливостей.
          </p>
          <p>
            У будь-який час Ви можете змінити параметри в налаштуваннях Вашого
            браузера таким чином, щоб браузер перестав зберігати всі файли
            cookie, а також сповіщав їх про відправку. При цьому слід врахувати,
            що в цьому випадку деякі сервіси та функції можуть перестати
            працювати.
          </p>
        </div>
        <div class="header-main__label">Зміна Політики конфіденційності</div>
        <div class="header-main__text">
          <p>
            На цій сторінці Ви зможете дізнатися про будь-які зміни цієї
            політики конфіденційності. В особливих випадках Вам буде надіслана
            інформація на Ваш E-mail.
          </p>
          <p>
            Ви можете поставити будь-які питання, написавши на E-mail
          </p>
        </div>
      </div>
    </div>
  </div>
</section>