<header class="header">
    <!-- Header -->
    <div class="header__container">
        <div class="header__inner">
            <div class="header__column">
                <a href="/" class="header__logo" aria-label="Логотип">
                    <img src="/img/logo.svg" alt="logo">
                </a>
                <nav class="nav">
                    <a href="/#services" class="nav__link" data-scroll="services" aria-label="Послуги">Послуги</a>
                    <a href="/#why" class="nav__link" data-scroll="why" aria-label="Чому ми">Чому ми?</a>
                    <a href="/#reach" class="nav__link" data-scroll="reach" aria-label="Наші досягнення">Наші
                        досягнення</a>
                    <a href="/#testimonials" class="nav__link" data-scroll="testimonials" aria-label="Блог">Відгуки</a>
                    <a href="/#blog" class="nav__link" data-scroll="blog" aria-label="Блог">Блог</a>
                    <a href="/#contacts" class="nav__link" data-scroll="contacts" aria-label="Контакти">Контакти</a>
                    <button type="button" class="nav__link nav__button button button-call-nav" data-bs-toggle="modal"
                        data-bs-target="#modal_contact_me">Замовити
                        дзвінок
                    </button>
                </nav>
                <button type="button" class="header__button button button-call-nav" data-bs-toggle="modal"
                    data-bs-target="#modal_contact_me">Замовити дзвінок
                </button>
            </div>
            <div class="burger">
                <span></span>
            </div>
        </div>
    </div>
</header>