---js
const layout = "layouts/base.njk";
const title = "";
const description = "";
const keywords = "";
const cssFiles = ["/css/swiper-bundle.min.css", "/css/style.css"];
const jsFiles = ["/js/swiper-bundle.min.js", "/js/script.js"];
---
{{ content | safe }}